.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: auto;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 16px;
    background-color: #1975FF;
    color: #ffffff;
    &:hover {
        cursor: pointer;
        background-color: #0052CC;
    }
    &:active {
        background-color: #1975FF;
    }
}
