$bg-color-primary: #FFFFFF;

$bg-color-brand: #1975FF;
$bg-color-active: #1975FF;
$bg-color-hover: #0052CC;
$bg-color-indicator: #4C94FF;

$text-color-primary: #141C24;
$text-color-invert: #FFFFFF;
$text-color-error: #F64C4C;
$text-color-quartenery: #97A1AF;

$border-color-light: #CED2DA;
$border-color-dark: #97A1AF;